.backgroundColor{
    background-color: rgb(203, 189, 216);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
}
.backgroundColor:hover{
    background-color: rgb(43, 43, 160);
    color: white;
}
.headingPart{
    display: flex;
    gap:30px
}
.headingText{
font-weight: bold;
margin-right: 5px;
}