/* Sidebar.module.css */
.sidebar {
    width: 250px;
    background-color: #f9fafd;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #0ec3c3;
  }
  
  .sectionTitle {
    font-size: 12px;
    font-weight: 600;
    color: #bbb;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    color: #888;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* .menuItem.active {
    color: #2e2e62;
    font-weight: bold;
  } */
  
  .icon {
    margin-right: 10px;
  }
  
  .setting {
    margin-top: auto;
    display: flex;
    align-items: center;
    color: #888;
    cursor: pointer;
    font-size: 14px;
  }