.container {
    padding: 2px;
    max-width: 1024px;
    margin: 0 auto;
    color: rgb(40, 40, 91);
    font-family: Arial, sans-serif;
    font-size: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navButtons {
    display: flex;
    gap: 8px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
  }
  
  .dayCard {
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    background-color: #f9fafb;
  }
  
  .dayCard:hover {
    background-color: #e0e7ff;
  }
  
  .dayCard:hover .selectedSlot {
    background-color: #2a3394;
  }
  
  .selectedDay {
    background-color: #e0e7ff;
  }
  
  .dayLabel {
    font-size: 11px;
    font-weight: bold;
    color: rgb(40, 40, 91);
    padding-bottom: 5px;
  }
  
  .dayDate {
    font-size: 13px;
    font-weight: 600;
  }
  
  .times {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }
  
  .selectedSlot {
    background-color: #6a6e9b;
    color: white;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
  }
  
  .timeSlot {
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 9999px;
    background-color: #e5e7eb;
    color: #374151;
  }
  
  .selectedTime {
    background-color: #4f46e5;
    color: white;
  }
  
  @media screen and (max-width: 425px) {
    .header {
      margin: 10px;
    }
    .grid {
      grid-template-columns: repeat(4, 2fr);
    }
  }
  